<h1>Listing lists</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
  </tr>

<% for list in @lists %>
  <tr>
    <td><%=h list.name %></td>
    <td><%=h list.date %></td>
    <td><%= link_to 'Ver', [@user, list] %></td>
    <td><%= link_to 'Editar', edit_user_list_path(@user, list) %></td>
    <td><%= link_to 'Eliminar', [@user, list], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New list', new_user_list_path(@user) %> | 
<%= link_to 'Mi Cuenta', user_path(@user)%>
