<% form_tag session_path do -%>
<p><label for="login">Nombre de Usuario</label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password">Contraseña</label><br/>
<%= password_field_tag 'password' %></p>

<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
-->

<p><%= submit_tag 'Iniciar Sesión' %></p>
<%= link_to(image_tag("cnc.jpg",:border=>0,:akt=> 'Cancelar'), :controller => 'home', :action=>'index') %>
<% end -%>
