<h1>Editing ubication</h1>

<% form_for(@ubication) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :x %><br />
    <%= f.text_field :x %>
  </p>
  <p>
    <%= f.label :y %><br />
    <%= f.text_field :y %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @ubication %> |
<%= link_to 'Back', ubications_path %>
