<h1>Listing ubications</h1>

<table>
  <tr>
    <th>Name</th>
    <th>X</th>
    <th>Y</th>
  </tr>

<% for ubication in @ubications %>
  <tr>
    <td><%=h ubication.name %></td>
    <td><%=h ubication.x %></td>
    <td><%=h ubication.y %></td>
    <td><%= link_to 'Show', ubication %></td>
    <td><%= link_to 'Edit', edit_ubication_path(ubication) %></td>
    <td><%= link_to 'Destroy', ubication, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ubication', new_ubication_path %>
