<p>
  <b>Name:</b>
  <%=h @ubication.name %>
</p>

<p>
  <b>X:</b>
  <%=h @ubication.x %>
</p>

<p>
  <b>Y:</b>
  <%=h @ubication.y %>
</p>


<%= link_to 'Edit', edit_ubication_path(@ubication) %> |
<%= link_to 'Back', ubications_path %>
