<% form_for :user, :url => users_path do |f| -%>
<h1>Nuevo Usuario</h1>

<TABLE>
  <TR><TD><p><label for="firstname">Nombre</label><br/></p></TD>
    <TD><p><label for="lastname">Apellido</label><br/></p></TD></TR>
  <TR><TD><%= f.text_field :firstname %></TD>
    <TD><%= f.text_field :lastname %></TD></TR>
</TABLE>

<p><label for="login">Nombre de Usuario</label><br/>
<%= f.text_field :login %></p>

<p><label for="email">e-mail</label><br/>
<%= f.text_field :email %></p>



<TABLE>
  <TR><TD><label for="password">Contraseña</label><br/></p></TD>
<TD><p><label for="password_confirmation">Confirmar Contraseña</label><br/></p></TD></TR>
<TR><TD> <%= f.password_field :password %>  </TD>
  <TD><%= f.password_field :password_confirmation %></TD></TR>
</TABLE>

<p><%= submit_tag 'Regístrese' %></p>
<%= link_to(image_tag("cnc.jpg",:border=>0,:alt=> 'Cancelar'), :controller => 'home', :action=>'index') %>
<% end -%>
